<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.mydesign.mapper.UserManagerMapper" >
  <resultMap id="BaseResultMap" type="com.yx.mydesign.bean.UserManager" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usermanagername" property="usermanagername" jdbcType="VARCHAR" />
    <result column="usermanagerpassword" property="usermanagerpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, usermanagername, usermanagerpassword
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yx.mydesign.bean.UserManagerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from usermanager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from usermanager
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from usermanager
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yx.mydesign.bean.UserManagerExample" >
    delete from usermanager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yx.mydesign.bean.UserManager" >
    insert into usermanager (id, usermanagername, usermanagerpassword
      )
    values (#{id,jdbcType=INTEGER}, #{usermanagername,jdbcType=VARCHAR}, #{usermanagerpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yx.mydesign.bean.UserManager" >
    insert into usermanager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usermanagername != null" >
        usermanagername,
      </if>
      <if test="usermanagerpassword != null" >
        usermanagerpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usermanagername != null" >
        #{usermanagername,jdbcType=VARCHAR},
      </if>
      <if test="usermanagerpassword != null" >
        #{usermanagerpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yx.mydesign.bean.UserManagerExample" resultType="java.lang.Integer" >
    select count(*) from usermanager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usermanager
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.usermanagername != null" >
        usermanagername = #{record.usermanagername,jdbcType=VARCHAR},
      </if>
      <if test="record.usermanagerpassword != null" >
        usermanagerpassword = #{record.usermanagerpassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usermanager
    set id = #{record.id,jdbcType=INTEGER},
      usermanagername = #{record.usermanagername,jdbcType=VARCHAR},
      usermanagerpassword = #{record.usermanagerpassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yx.mydesign.bean.UserManager" >
    update usermanager
    <set >
      <if test="usermanagername != null" >
        usermanagername = #{usermanagername,jdbcType=VARCHAR},
      </if>
      <if test="usermanagerpassword != null" >
        usermanagerpassword = #{usermanagerpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yx.mydesign.bean.UserManager" >
    update usermanager
    set usermanagername = #{usermanagername,jdbcType=VARCHAR},
      usermanagerpassword = #{usermanagerpassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>