<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.mydesign.mapper.UserOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yx.mydesign.bean.UserOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="outtradeno" property="outtradeno" jdbcType="VARCHAR" />
    <result column="tradename" property="tradename" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, outtradeno, tradename, amount, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yx.mydesign.bean.UserOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userorder
    <where>
    	<if test="username!=null and username!=''">
    		username like '%' #{username} '%'
    	</if>
    </where>
      order by id asc
  </select>
  <select id="getPriceSumsByMoth" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select ifnull(sum(amount),0) from userorder where  date_format(time, '%m') = #{monthValue}
  </select>
  <select id="getPriceRepointSumsByMonth" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select ifnull(sum(amount),0) from userorder where  date_format(time, '%m') = #{monthValue} and tradename like "%point%"
  </select>
  <select id="getPriceVIPSumsByMonth" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select ifnull(sum(amount),0) from userorder where  date_format(time, '%m') = #{monthValue} and tradename like "%vip%"
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yx.mydesign.bean.UserOrderExample" >
    delete from userorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yx.mydesign.bean.UserOrder" >
    insert into userorder (id, username, outtradeno, 
      tradename, amount, time
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{outtradeno,jdbcType=VARCHAR}, 
      #{tradename,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yx.mydesign.bean.UserOrder" >
    insert into userorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="outtradeno != null" >
        outtradeno,
      </if>
      <if test="tradename != null" >
        tradename,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null" >
        #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="tradename != null" >
        #{tradename,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yx.mydesign.bean.UserOrderExample" resultType="java.lang.Integer" >
    select count(*) from userorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userorder
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.outtradeno != null" >
        outtradeno = #{record.outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="record.tradename != null" >
        tradename = #{record.tradename,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userorder
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      outtradeno = #{record.outtradeno,jdbcType=VARCHAR},
      tradename = #{record.tradename,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yx.mydesign.bean.UserOrder" >
    update userorder
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null" >
        outtradeno = #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="tradename != null" >
        tradename = #{tradename,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yx.mydesign.bean.UserOrder" >
    update userorder
    set username = #{username,jdbcType=VARCHAR},
      outtradeno = #{outtradeno,jdbcType=VARCHAR},
      tradename = #{tradename,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>